//header
header .loginArea {
    background: url(../img/login_BG.png) no-repeat;
    background-size: contain;
}

.loginArea .Q_icon {
    background: url(../img/icon/q_icon.png) no-repeat center;
    background-size: 100%;
}

//bg
html {
    background: url(../img/bg1.png) no-repeat center top;
}

.gameType {
    background: url(../img/bg2.png) no-repeat center bottom;
}