@media only screen and (max-width: 1860px) {
    header {
        .bottom {
            ul {
                li {
                    .content {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1795px) {
    header {
        .bottom {
            ul {
                li {
                    .content {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1680px) {
    header {
        .bottom {
            padding: 0 20px 0 408px;

            ul {
                li {
                    overflow: hidden;
                    .content {
                        font-size: 14px;

                        &:hover,&:active {
                            .content {
                                position: absolute;
                                top: 0;
                                left: 0;
                                transform: translate(7px,6px);
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1570px) { 
    .marquee {
        display: none;
    }
}